@model LoginVM

<h2>请您登录或 <a asp-controller="Account" asp-action="Register">注册</a></h2>

<form asp-controller="Account" asp-action="Login" method="post">
    
    <div>
        <label asp-for="name"></label>
        <input asp-for="name" />
        <span asp-validation-for="name"></span>
    </div>
    <div>
        <label asp-for="pwd"></label>
        <input asp-for="pwd" />
        <span asp-validation-for="pwd"></span>
    </div>
    <div>
        <input type="submit" value="提交" />
    </div>


    <div asp-validation-summary="All"></div>

</form>