@using Microsoft.AspNetCore.Identity


@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <environment include="Development">
        <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </environment>

</head>
<body>
    <h1>Layout</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        
        @if (SignInManager.IsSignedIn(User))
        {
            <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="javascript:document.getElementById('logoutForm').submit()">登出</a>
                    </li>
                </ul>
            </form>
        }
        else{
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a asp-action="Register" asp-controller="Account">注册</a>
                </li>
                <li class="nav-item">
                    <a asp-action="Login" asp-controller="Account">登录</a>
                </li>
            </ul>
        }
    </nav>
    <div>
        @RenderBody()
    </div>
    <hr />
    <div>
        @RenderSection("bottom", required: false)
    </div>


    <environment include="Development">
        <script src="~/node_modules/jquery/dist/jquery.js"></script>
        <script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    </environment>

</body>
</html>
